TELEGRAM_BOT_TOKEN=your_bot_token_here
INSTAGRAM_LINK=https://www.instagram.com/your_profile/

PAYME_MERCHANT_ID=your_payme_merchant_id
PAYME_SECRET_KEY=your_payme_secret_key

CLICK_MERCHANT_ID=your_click_merchant_id
CLICK_SECRET_KEY=your_click_secret_key

COURSE_PRICE=50000

WEBHOOK=false
WEBHOOK_URL=
